[Desktop Entry]
Type=Application
Name=Shattered Pixel Dungeon
Comment=Roguelike RPG, with pixel art graphics and lots of variety and replayability
Exec=com.shatteredpixel.shatteredpixeldungeon.sh
Icon=com.shatteredpixel.shatteredpixeldungeon
Terminal=false
Categories=Game;
