[Desktop Entry]
Categories=Game;
Comment=Roguelike RPG, with pixel art graphics and lots of variety and replayability
Exec=com.shatteredpixel.shatteredpixeldungeon.sh
Icon=com.shatteredpixel.shatteredpixeldungeon
Name=Shattered Pixel Dungeon
Terminal=false
Type=Application
Version=1.0

